variables:
  PROJECT_NAME: poc
  DOMAIN_NAME: chatbot
  STAGE_NAME: $CI_COMMIT_REF_SLUG
  TERRAFORM_CODE_PATH: "iac/"
  PYTHON_CODE_PATH: "."
  PYENV_VERSION: 3.13
  TARGET_REPO_NAME: "datalfred"

include:
  - project: 'erwan.simon/devops-platform-ci-templates'
    ref: 'v2.0.3'
    file:
      - 'base.yml'
      - 'python.yml'
      - 'terraform.yml'
      - 'mirror_to_github.yml'

stages:
  - init
  - format
  - security
  - deploy
  - mirror_to_github
