.env.json
.terraform*
!.terraform.lock.hcl
*.swp
plan.file
__pycache__
poetry.lock
**/dist/
**/package_source/
output_file.txt
.python-version
**/plan_prod.file
**/requirements.txt
**.csv
**.json
!iac/values_of_interest.json
**.ipynb
**.txt
**.pickle
**/plan_*.file
**.parquet
**/.DS_Store
**.zip
!**/requirements.txt
!iac/orchestration_configuration.tftpl.json
!.releaserc.json
**/.cache
backend.hcl
terraform.tfvars
